
<p id="notice"><%= notice %></p>

<h1>Listing Schedules</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="text-center">
  <div class="ui search">
    <div class="ui icon input">
      <input class="prompt" id="search_sites" type="text" placeholder="Common passwords...">
      <i class="search icon"></i>
    </div>
    <div class="results" id="site_results"></div>
  </div>


  <%= form_for :schedule, url: '/schedules' do |f| %>

    Site <%= f.collection_select :site_id, Site.all, :id,:name, include_blank: true %>
    <br>
    Program Leader: <%= f.collection_select :user_id, [], :id, :name %><br />
    Curriculum Id : <%= f.collection_select :curriculum_id, Curriculum.all, :id, :name %><br />
    Start Date   : <%= f.date_select(:start_date,:start_year => 1950) %><br />


    <%= f.submit %>
  <% end %>

</div>

    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= link_to 'Show', schedule %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
