
<p id="notice"><%= notice %></p>

<h1>Listing Schedules</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="text-center row">
  


  <%= form_for :schedule, url: '/schedules' do |f| %>
<div id="site_id">

  <div class="inline field">
    <div class="ui big right pointing label">
      Select Site ID
    </div>


        <%= f.collection_select :site_id, Site.all, :id,:name, include_blank: true%>

  </div>

</div>

    <div id="pl_name">
      <div class="inline field">
        <div class="ui big right pointing label">
          Program Leader
        </div>
     <%= f.collection_select :user_id, [], :id, :name %>
    </div>
    <div id="cir_name">
      <div class="ui big right pointing label">
        Curriculum Id
      </div>
    <%= f.collection_select :curriculum_id, Curriculum.all, :id, :name %>
    </div>
    <div id="start_date">
      <div class="ui big right pointing label">
        Start Date
      </div>
      <%= f.date_select(:start_date,:start_year => 1950) %>
    </div>

      <div>
        <%= f.submit%>
      </div>

  <% end %>

</div>
        </div>
  </tbody>
</table>
<div class="ui container">
        <table class="ui celled table">
          <thead>
          <tr><th>Name</th>
            <th>PL Assigned</th>
            <th>Start Date</th>
            <th>End Date</th>
          </tr></thead>
          <tbody>
          <% @schedules.each do |sch| %>  
              <tr>
                <td><%= sch.curriculum.name %></td>
                <td><%= sch.user.name %></td>
                <td><%= sch.site.name %></td>
                <td><%= sch.start_date %></td>
              </tr>
          <% end %>
          </tbody>
          <tfoot>
          <tr><th colspan="4">
            <div class="ui right floated pagination menu">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </th>
          </tr></tfoot>
        </table>
      </div>
<br>

