
<p id="notice"><%= notice %></p>

<h1>Listing Schedules</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <div class="text-center">
  


  <%= form_for :schedule, url: '/schedules' do |f| %>

    Site <%= f.collection_select :site_id, Site.all, :id,:name, include_blank: true %>
    <br>
    Program Leader: <%= f.collection_select :user_id, [], :id, :name %><br />
    Curriculum Id : <%= f.collection_select :curriculum_id, Curriculum.all, :id, :name %><br />
    Start Date   : <%= f.date_select(:start_date,:start_year => 1950) %><br />


    <%= f.submit %>
  <% end %>

</div>
  </tbody>
</table>
<div class="ui container">
        <table class="ui celled table">
          <thead>
          <tr><th>Name</th>
            <th>PL Assigned</th>
            <th>Start Date</th>
            <th>End Date</th>
          </tr></thead>
          <tbody>
          <% @schedules.each do |sch| %>  
              <tr>
                <td><%= sch.curriculum.name %></td>
                <td><%= sch.user.name %></td>
                <td><%= sch.site.name %></td>
                <td><%= sch.start_date %></td>
              </tr>
          <% end %>
          </tbody>
          <tfoot>
          <tr><th colspan="4">
            <div class="ui right floated pagination menu">
              <a class="icon item">
                <i class="left chevron icon"></i>
              </a>
              <a class="item">1</a>
              <a class="item">2</a>
              <a class="item">3</a>
              <a class="item">4</a>
              <a class="icon item">
                <i class="right chevron icon"></i>
              </a>
            </div>
          </th>
          </tr></tfoot>
        </table>
      </div>
<br>

